@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes shimmerMove {
    0% {
        left: -50%;
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        left: 110%;
        opacity: 0;
    }
}